cmake-build-debug/
cmake-build-release/
.idea/
DEBUG/Attempts_at_flow/
DEBUG/plotting_data_old 
DEBUG/pressure_data/
DEBUG/velocity_data/
DEBUG/rigid_body_videos/
DEBUG/flow_videos/
DEBUG/rigid_body_data/
DEBUG/times.txt
/MyMath/finite_difference_old.hpp
/DEBUG/pressure_interpolated/
/DEBUG/velocity_interpolated/
/DEBUG/pressure_dump/
/DEBUG/velocity_dump/
models/
/DEBUG/Overnight/
